* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #bbc0ff;
}

.logo {
  background: url(pix/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%; /* Changed to 50% for perfect roundness */
  border: 2px solid #f58615;
  margin-bottom: 10px;
}

.welcome {
  text-align: center;
  font-size: 1.9em;
  color: black;
  text-transform: uppercase;
}

.socials {
  text-align: center;
  font-size: 1.5em;
  background-color: #067cff;
  color: #ffffff;
  margin-top: 1.5rem;
  letter-spacing: 1.5px;
}

.copy {
  text-align: center;
  font-size: 0.7em;
  margin-bottom: 10px;
}

.top-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0.5rem;
  flex-wrap: wrap;
}

.top-section {
  width: 90%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
}

.middle-container,
.bottom-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0.5rem;
}

.whatsapp {
  position: fixed;
  right: 1.25rem;
  bottom: 10rem;
  z-index: 1000000;
}

.whatsapp-icon {
  width: 2.12rem;
  height: 2.12rem;
  animation: attention 2s infinite;
}

.whatsapp-icon img {
  display: block;
  width: 100%;
  height: 100%;
}

.middle-section,
.bottom-section {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 2.5rem;
}

.netflix,
.spotify,
.iptv,
.prime,
.pubg,
.yalla-ludo,
.bigo-live,
.patti {
  width: 10rem;
  height: 10rem;
  display: grid;
  grid-template-rows: 4fr 1fr;
  border-radius: 8px 8px 0 0;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 20px 0px;
}

.middle-section a,
.prime a,
.iptv a,
.spotify a,
.pubg a,
.yalla-ludo a,
.bigo-live a,
.patti a {
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 7.8rem;
  width: 9.9rem;
  border-radius: 8px 8px 0 0;
}

.middle-section a {
  background-color: #ae0c18;
}

.prime a {
  background-color: #00a8e1;
}

.iptv a {
  background-color: #067cff;
}

.spotify a {
  background-color: #1ed760;
}

.pubg a {
  background-color: #d87f00;
}

.yalla-ludo a {
  background-color: #064538;
}

.bigo-live a {
  background-color: #000000;
}

.patti a {
  background-color: #fdca4b;
}

button {
  text-align: center;
  font-weight: bold;
  background-color: #ffffff;
  border: none;
  letter-spacing: 2px;
  width: 9.9rem;
  height: 2rem;
  font-size: 1em;
}

.mini-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1.5rem;
  gap: 1.2rem;
}

.mini-cont .contact-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  font-size: 1.9em;
  border-radius: 0.6rem;
}

.contact-icons a {
  text-decoration: none;
  color: #000000;
}

.facebook {
  background-color: #1877f2;
}

.youtube {
  background-color: #ff0000;
}

.tiktok {
  background: linear-gradient(
    302deg,
    rgba(105, 201, 208, 1) 0%,
    rgba(255, 255, 255, 1) 51%,
    rgba(238, 29, 82, 1) 100%
  );
}

.instagram {
  background-color: #d62976;
}

@keyframes attention {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 600px) {
  .middle-section,
  .bottom-section {
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
  }

  .top-section {
    flex-direction: column;
  }

  .search {
    background-color: #067affb8;
    color: #ffffff;
  }
}

@media screen and (max-width: 400px) {
  .middle-section,
  .bottom-section {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .top-section {
    flex-direction: column;
  }

  .search {
    background-color: #067affb8;
    color: #ffffff;
  }
}
